.container {
    width: 25em;
    margin: .5em;
    display: flex;
    border: 1px solid black;
} 
.quantity {
    width: 2em;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
    margin-bottom: auto;
    margin-top: auto;
}
.location {
    margin-top: auto;
    font: 10px Arial, sans-serif;
}
.retailerBox {
    margin-top: auto;
}
.retailerLogo {
    padding: .5em;
    height: 2em;
    vertical-align: bottom;
}
img {
    margin: auto;
    height: 6em;
    padding: 5px;
}
.numberLoc {
    padding: .5em;
}
.deleteButton {
    vertical-align: top;
    color: red;
}
.bestBy {
    font: 10px Arial, sans-serif;
}
.datepicker {
    width: 6em;
    text-align: center
}
.centerElements {
    margin: auto;
}
@media (max-width: 600px) {
    .container {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
    }
}