@media (max-width: 600px) {
    .container {
        display: flex;
        border: 1px solid black;
    } 
    .quantity {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: #fff;
        border: 2px solid #666;
        color: #666;
        text-align: center;
        font: 32px Arial, sans-serif;
        margin: auto;
    }
    .location {
        margin-top: auto;
        font: 10px Arial, sans-serif;
    }
    .retailerBox {
        margin-top: auto;
    }
    .retailerLogo {
        padding: .5em;
        height: 2em;
        vertical-align: bottom;
    }
    img {
        margin: auto;
        height: 6em;
        padding: 5px;
    }
    .numberLoc {
        padding: .5em;
    }
    .deleteButton {
        vertical-align: top;
        color: red;
    }
}

@media (min-width: 601px) { 
    img {
        display: block;  
        text-align: right;
        height: 60px;
        width: 60px;
    }
}